# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

#ne pas versionner
Soft/Test
Soft/GIT_example_STM32_HAL_LWIP_ENC28J
Soft/lwip-2.2.0
Soft/ressource - STM32_HAL_LWIP_ENC28J60-main
Soft/.metadata
Soft/FreeRTOS_HTTP_server-master
 Soft/basile/Debug
 Soft/brouillion
 Soft/STM32_HAL_LWIP_ENC28J60-main
 Soft/LwIP_HTTP_Server_Netconn_RTOS
 Soft/stm32f7-tcpecho-master
 Soft/UART_RTCM_datacollection
 Soft/Caster_Ntrip/Caster_Henzo